#m-trialInfo {
  width: 100%;
  
  input {
  	text-overflow: ellipsis;
  }
}


#m-trialComment-list {
  width: 100%;

  table {
  	margin: 0;
  }

  .commentDate {
  	width: 180px;
  	vertical-align: middle;
  }

  .commentText {
  	vertical-align: middle;
  }

  .commentAction {
  	width: 100px;
  	vertical-align: middle;
  	text-align: center;
  }
}


#m-trialHeatData {
  width: 100%;
}


#m-search-results {
	.table {
		margin: 0;
	}
}