#m-trialInfo {
  width: 100%;
  
  input {
  	text-overflow: ellipsis;
  }
}


#m-trialComment-list {
  width: 100%;
}


#m-trialHeatData {
  width: 100%;
}


#m-search-results {
	.table {
		margin: 0;
	}
}