.m-info-trial {
  width: 100%;
  
  input {
  	text-overflow: ellipsis;
  }
}


.m-info-group {
  width: 100%;
  
  input {
    text-overflow: ellipsis;
  }
}


.m-commentList{
  width: 100%;

  table {
  	margin: 0;
  }

  .commentDate {
  	width: 180px;
  	vertical-align: middle;
  }

  .commentText {
  	vertical-align: middle;
  }

  .commentAction {
  	width: 100px;
  	vertical-align: middle;
  	text-align: center;
  }
}


.m-heatData-trial{
  width: 100%;
}


.m-searchResults {
	.table {
		margin: 0;
	}
}


.m-trialGroupBtn {
  width: 100%;
}