


.container {
  width: 100%;
  margin: 0px;
}


.input-group {
  width: 100%;
}
.input-group input {
  width: 100%;
}

.input-group {
  width: 100%;
}

.input-group textarea {
  width: 100%;
  overflow: auto;
  resize: none;
}




.errorHolder {
	width: 30em;
	margin: 0 auto;
  text-align: left;

  .errorList {
    text-align: left;
  }

  .alert {
    text-align: left;
  }

  ul {
    padding-left: 1em;

    li {
      margin: 0;
    }
  }
}


.required::after {
	content: "*";
	color: #ff0000;
}





.handsontable {
	overflow: auto;
	height: 250px;
}