


.container {
  width: 100%;
  margin: 0px;
}


.input-group {
  width: 100%;
}
.input-group input {
  width: 100%;
}

.input-group {
  width: 100%;
}

.input-group textarea {
  width: 100%;
  overflow: auto;
  resize: none;
}




#error-box {
	width: 300px;
	margin: 0 auto;
}


.required::after {
	content: "*";
	color: #ff0000;
}





.handsontable {
	overflow: auto;
	height: 250px;
}