$padding: 10px;
$input-spacing: 20px;



#m-comment {
	padding: 0;

	.row {
		width: 100%;
		padding-top: 1.5*$padding;
		padding-right: $padding;
		padding-left: 2*$padding;
	}

	.comment {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 100px;
		resize: none;
	}
}


#m-search-form {
	width: 100%;
	padding-bottom: 20px;
	position: relative;

	.trial-name {
		width: 350px;
		top: 0;
		display: inline-block;
	}

	.start-date {
		width: 130px;
		display: inline-block;
	}

	.end-date {
		width: 130px;
		display: inline-block;
	}

	.trial-unit {
		.form-control {
			width: 135px;
		}
	}

	.trial-type {
		.form-control {
			width: 130px;
		}
	}

	.change-type {
		.form-control {
			width: 130px;
		}
	}

	.row {
		margin-top: 10px;
		padding-left: 2 * $padding;
		padding-right: 2 * $padding;
		position: relative;
	}

}


#m-search-results {
	.table {
		margin: 0;
	}
}



#error-box {
	width: 300px;
	margin: 0 auto;
}


.required::after {
	content: "*";
	color: #ff0000;
}


.align-top {
	// top: 0;
	// position: absolute;
}



.handsontable {
	overflow: auto;
	height: 250px;
}